FileSet {
  Name = "plugin-split-jobs"
  Include {
    Plugin = "python:module_path=/usr/local/lib64/bareos/plugins:module_name=bareos-fd-split-jobs:filename=/etc/bareos/filelist:parallelJobs=3"
  }
}
